<%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Artugis</h2>
            </div>

            <div class="card-body">
                <a href="/admin/articles/new" class="btn btn-success mb-4">Criar novo artigo</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/scripts.ejs') %>
<script>
    const confirmDelete = (event, form) =>{
        event.preventDefault();
        let decision = confirm('Deseja excluir a categoria?');
        if (decision) {
            alert('Categoria excluída');
            form.submit();
        } else {
            alert('Categoria não excluída');
        }
    }
</script>