<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a href="/" class="navbar-brand">
        Mauricio Ferreira
    </a>

    <ul class="navbar-nav m-auto">
        <% categories.forEach((category) => { %>
            
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Home</a>
            </li>
            
        <% }) %>
        
    </ul>
</nav>