<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a href="/" class="navbar-brand">
        Mauricio Ferreira
    </a>

    <ul class="navbar-nav m-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link font-bold">Categorias</a>
        </li>

        <li class="nav-item">
            <a href="/admin/articles" class="nav-link font-bold">Artigos</a>
        </li>
    </ul>
</nav>