<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a href="/" class="navbar-brand">
        Mauricio Ferreira
    </a>

    <ul class="navbar-nav m-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <% categories.forEach((category) => { %>
            <li class="nav-item">
                <a href="/category/<%= category.slug %>" class="nav-link"><%= category.title %></a>
            </li>
            
        <% }) %>
        
    </ul>
</nav>