body {
    font-family: Roboto;
    background-color: blue;
}

main {
    padding: 3% 0;
}

.btn-pointer {
    cursor: pointer;
}

.font-bold {
    font-weight: bold;
}

.table-person {
    width: 30%;
}

#article {
    cursor: text;
}

.person {
    display: inline;
}