<%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <h1>Teste Categorias</h1>
    </div>
</body>

<%- include('../../partials/scripts.ejs') %>