<%- include('../../partials/head.ejs') %>

<body>
    <main>
        <div class="container">
            <h1>Criar usuários</h1>
        </div>
    </main>
</body>

<%- include('../../partials/scripts.ejs') %>