<%- include('partials/head.ejs') %>

<body>
    <div class="container">
        <h1>Teste</h1>
        <a href="/admin/categories/new"><button class="btn-primary">Cadastrar</button></a>
    </div>
</body>

<%- include('partials/scripts.ejs') %>